html {
    font-family: Tahoma;
}

header {
    border-radius: 15px;
    text-align: center;
}

h1{
    background-color: #4679BD;
    border-radius: 15px 15px 15px 15px;
    float: left;
    padding: 5px;
}

#description{
    background-color: #b5c9e2;
    padding: 5px;
    border-radius: 15px;
    float: left;
}

header img{
    float: right;
    width: 20%;
}

section {
    width: 45%;
}

.column-1 {
    float: left;
    margin-bottom: 10px;
}

.column-2 {
    float: right;
}

article{
    margin-top: 15px;
    padding: 10px 20px 10px 20px;
    background-color: #d5dae0;
    border-radius: 10px;
}

footer {
    clear: both;
    width: 100%;
    background-color: #b5c9e2; 
    border-radius: 15px;
    padding: 5px;
    text-align: center;
}